@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* default theme (light) */
    --primary: #ccdbdc;
    --card: #193243;
    --text: #339989;
    --overlay: #00000080;
    --sub: #375264;
    --sub-secondary: #7de2d1;
    --sub-highlight: #3f5d72;
    --sub-bright: #6f8ca0;
    --background: #fffafb;
    --subBackground: #f0f3f5;
    --normalText: #000000;
    --secondaryNormalText: #2b2c28;
    /* --pattern: url('/assets/Hexagon.svg'); */
  }

  [data-theme='light'] {
    --primary: #ccdbdc;
    --card: #fff;
    --text: #339989;
    --overlay: #00000059;
    --sub: #b9ccdc;
    --sub-secondary: #7de2d1;
    --sub-highlight: #92a6b9;
    --sub-bright: #5b7690;
    --background: #fffafb;
    --subBackground: #f7f7f7;
    --normalText: #000000;
    --secondaryNormalText: #2b2c28;
    /* --pattern: url('/assets/Hexagon.svg'); */
  }

  [data-theme='dark'] {
    --primary: #ccdbdc;
    --card: #2b2c28;
    --text: #339989;
    --overlay: #00000080;
    --sub: #375264;
    --sub-secondary: #7de2d1;
    --sub-highlight: #3f5d72;
    --sub-bright: #6f8ca0;
    --background: #131515;
    --subBackground: #1e1f1c;
    --normalText: #ffffff;
    --secondaryNormalText: #ccdbdc;
    /* --pattern: url('/assets/Hexagon.svg'); */
  }
  /* used to debug */
  * {
    /* border: 1px solid red; */
  }
  body {
    max-height: 100vh;
    background: var(--background);
  }
  h1 {
    @apply my-3;
    @apply text-5xl;
    @apply md:text-6xl;
    @apply font-extrabold;
  }

  h2 {
    @apply my-2;
    @apply text-4xl;
    @apply md:text-5xl;
    @apply font-semibold;
  }

  h3 {
    @apply my-2;
    @apply text-2xl;
    @apply md:text-3xl;
    @apply font-medium;
  }

  h4 {
    @apply my-2;
    @apply text-xl;
    @apply md:text-2xl;
  }

  p {
    @apply my-2;
    @apply text-base;
    @apply md:text-lg;
    @apply font-sans;
  }

  li {
    @apply text-base;
    @apply md:text-lg;
  }
}
